.heading {
    display: inline-block;
    color: black;
    margin-top: 8px;
}

.appBtn {
    float: right;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
    width: 80px;
    margin-right: 1rem;
    color: white;
    border: none;
    background-color: grey;
}

.container {
    padding: 12px;
    background-color: #72a2c0;
}