.shadow {
    box-shadow: 6px 6px rgb(151, 149, 149);
    font-size: 18px;
    background-color: #27E1C1;
}

.row {
    cursor: pointer;
}

.container {
    position: relative;
    width: 50rem;
    margin: 10rem auto;
}

.addAppBtn {
    position: absolute;
    right: 0;
    top: -5rem;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #0EA293;
}

th, td {
    color: black;
    font-size: 16px;
}
